/* .: Global ==================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* .: Titles ==================== */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: black;
    font-weight: normal;
    font-size: 28px;
}

p, h3 {
    color: #333333;
}

h3 {
    font-size: 18px;
}

/* .: Enviar pesquisa ==================== */

.send-survey {
    margin-top: 3.2rem;
    margin-bottom: 3.5rem;
    box-shadow: 2px 2px 4px -2px black;
    padding: 1rem 2rem;
}

.select-options {
    font-size: 14px;
    font-weight: bold;
}

.select-user, .select-survey {
    margin: 1.2rem 0.5rem;
    width: 25%;
    outline: none;
    height: 25px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

button[type="submit"] {
    padding: 8px 32px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px -2px black;
    color: #777;
    cursor: pointer;
    border: none;
}

button[type="submit"]:hover {
    color: black;
    box-shadow: 1px 1px 4px -1px black;
    transition: 350ms;
}

/* .: Links ==================== */

.link-forms {
    margin-top: 3.2rem;
    margin-bottom: 3.5rem;
    box-shadow: -1px 1px 4px -3px black;
    padding: 1rem 2rem;

}

.link-forms a {
    text-decoration: none;
    color: #777;
    margin-left: 32px;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 12px;
}
.link-forms a:hover {
    color: black;
    transition: 300ms;
}


/* .: NPS ==================== */

.nps-calc {
    margin-top: 3.2rem;
    margin-bottom: 3.5rem;
    box-shadow: 2px 2px 4px -2px black;
    padding: 1rem 2rem;
}

.surveys {
    font-size: 14px;
    font-weight: bold;
}

.survey-nps {
    margin-top: 1rem;
    font-size: 16px;
}
.survey-nps a {
    text-decoration: none;
    color: #777;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: underline;
}
.survey-nps a:hover {
    color: black;
    transition: 300ms;
}


/* .: SURVEYS ==================== */

.survey-description input, .survey-title input  {
    width: 25%;
    outline: none;
    height: 25px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    margin: 1.2rem 0.5rem;
}

/* .: USER ==================== */

.user-email input, .user-name input {
    width: 25%;
    outline: none;
    height: 25px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    margin: 1.2rem 0.5rem;
}

/* .: NPS RESULTS ==================== */