<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova pesquisa</title>
</head>
<body>

<section class="container survey">
    <h2>Criar nova pesquisa</h2>
    
        <form action="/surveys" method="post">

        <div>
            <p>Informe o título da pesquisa</p>
            <input type="text" name="title" placeholder="Título da pesquisa" required="required">
        </div>

        <div>
            <p>Informe a descrição da pesquisa</p>
            <input type="text" name="description" placeholder="Descrição da pesquisa" required="required">
        </div>
            
            <button class="buttons" type="submit">Criar pesquisa</button>
        </form>
    
</section>
    
</body>
</html>